.content-wrapper{
border: 1px solid #000000;
float: left;
margin: 0 1em 0 0;
width: 1000px;
}

.slider_diapo_wrapper{
margin: auto;
width: 500px;
height: 300px;
}


.slider_diapo_wrapper h2{
background: #F0EEEB;
margin: 0;
box-shadow: 0 0 5px #F0EEEB;
}


.slider_diapo_wrapper .bx-wrapper .bx-viewport{
border: none;
left: 0;
}

.slider_diapo{
position: relative;
/* width: 500px; */ /* fixe la largeur du diaporama : div englobant. */
margin: auto;
/* margin: 1em 0; */
/* height: 250px; */
}

ul.slider_diapo , .slider_diapo li{
margin: 0;
padding: 0;
}

.slider_diapo ul{} 

.slider_diapo li{}


.box{
/* background: none repeat scroll 0 0 rgba(80, 80, 80, 0.75); */
/* height: 223px; */
}

.slider_diapo .bx-caption{
display: none;	
}

.box .slider-pic img{
/* border-radius: 4px 4px 4px 4px; */
margin:auto;
border: none;
}

.box .slider-content{
background: url("img/slider_content_bg.png") repeat scroll 0 0 transparent;
border-radius: 0 0 4px 4px;
bottom: 0;
position: absolute;
width: 100%;
height: 70px;
/* line-height: 2px; */
color: #FFFFFF;
padding: 10px;
}

.box .slider-content h3{
 /* font-size: 2.6em; */
 margin: 0.2em 0;
 font-size: 17px;
}

.box .slider-content a,
.box .slider-content a:visited{
color: #fff;
}

/** navigation */
.slider_diapo_wrapper .bx-wrapper .bx-pager, 
.slider_diapo_wrapper .bx-wrapper .bx-controls-auto{
bottom: 5px;
z-index: 500;	
}

.slider_diapo_wrapper .bx-wrapper .bx-pager.bx-default-pager a{
background: #000;
border: 1px solid #FFFFFF;
border-radius: 4px 4px 4px 4px;
}

.slider_diapo_wrapper .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{
right: 15px;		
} 

.slider_diapo_wrapper .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
background: #fff;
margin-right: 1px;
}

.slider_diapo_wrapper .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.slider_diapo_wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
background: #fff;
}


